body{
    padding: 0;
    margin: 0;
    font-family:'Courier New', sans-serif;
    background: #ffffff;
    background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(166, 114, 123, 1) 100%);
}


